#map {
	position: absolute;
	top: 250px;
	left: 20px;
	width: 
}

#map canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#mapControls {
	position: absolute;
	top: 380px;
	width: 780px;
	height: 100px;

	padding-top: 10px;
	overflow: hidden;

	font-family: 'HelveticaNeueW01-77BdCn 692722', HelveticaNeue, Helvetica, Arial, Verdana, sans-serif;
	font-weight: normal;

	z-index: 9999;
}

#mapControls ul {
	position: relative;
	margin: auto;
}

#mapControls ul {
	padding: 0;
}

#mapControls ul li {
	position: relative;
	float: left;
	/*display:inline-block;*/
	width: 60px;
	/*padding: 0 15px;*/
	padding: 5px 0;
	margin: 0;
	
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	list-style-type: none;

	/*line-height: 50%;*/

	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

	/*border: 1px solid #f00;*/
}

#mapControls .endYear {
	border-right: 1px solid #CCC;
}

#mapControls .months .currentYear, #mapControls .months .prevYear {
	position: absolute;
	top: 60px;
	right: 75px;

	color: #999;
	
	font-size: 10px;
}

#mapControls .months .prevYear {
	left: 40px;
}

#mapControls .selectedMonth {
	font-size: 20px;
	top: -8px;
}

#mapControls .adjacentSelectedMonth {
	font-size: 14px;
	top: -2px;
}

#mapControls .farAdjacentSelectedMonth {
	font-size: 12px;
	top: 0px;
}

#mapControls .scrollArea {
	position: absolute;
	top: 55px;
	left: 0;
	width: 1414px;
	height: 4px;

	background-image: url('../img/slider.svg');
	background-repeat: no-repeat;
}

#mapControls .scrollArea .scrollBar {
	position: absolute;
	top: -15px;
	left: -17px;
	width: 1414px;
	height: 25px;
}
#mapControls .scrollArea .scrollBar .scrollHandle {
	position: absolute;
	top: 0;
	left: 707px;

	width: 3px;
	height: 30px;
	background-color: #000;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#map .totalTouchPoints {
	position: absolute;
	top: 230px;
	left: 20px;
	/*border: 1px solid #f00;*/
}

#map .totalTouchPoints h1 {
	color: #CD1D27;
	font-family: 'HelveticaNeueW01-77BdCn 692722', HelveticaNeue, Helvetica, Arial, Verdana, sans-serif;
	font-size: 10px;
	font-weight: normal;
	height: 15px;
	margin: 0;
	padding: 0;
	/*border: 1px solid #f00;*/
	/*// this.context.fillText('ITN TOUCH TO DATE', 20, 240);*/
}

#map .totalTouchPoints p {
	position: relative;
	top: -5px;
	margin: 0;
	padding: 0;
	color: #768065;
	font-family: 'HelveticaNeueW01-77BdCn 692722', HelveticaNeue, Helvetica, Arial, Verdana, sans-serif;
	font-size: 27px;
	font-weight: normal;
	letter-spacing: 2px;
	/*border: 1px solid #f00;*/
	/*// this.context.fillText('021,098,096', 20, 265);*/
}

#changeButton {
	position: fixed;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

#changeButton a, #changeButton a:visited, #changeButton a:hover, #changeButton a:active {
	color: #000;
	width: 100%;
	height: 100%;
	display:block;
}




